@import 'styles/colors';
@import 'styles/margin-padding';
@import 'styles/flexbox';
@import 'styles/ratio';
@import 'styles/transitions';

/*
 * -----------------------------------------------------------------------------
 * Font definitions
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: local('Overpass Light'), local('Overpass-Light'),
    url('/fonts/overpass-light.woff2') format('woff2'),
    url('/fonts/overpass-light.woff') format('woff');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local('Overpass ExtraBold'), local('Overpass-SemiBold'),
    url('/fonts/overpass-semibold.woff2') format('woff2'),
    url('/fonts/overpass-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: local('Overpass Heavy'), local('Overpass-Heavy'),
    url('/fonts/overpass-heavy.woff2') format('woff2'),
    url('/fonts/overpass-heavy.woff') format('woff');
}

/*
 * -----------------------------------------------------------------------------
 * Global styles
 * -----------------------------------------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  line-height: 1;
  background: $white;
  color: $black;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: $black;
  line-height: 1.5;
  transition: font-size $normal $ease;
}

h1, h2, h3 {
  margin: 4rem 0 0.5rem 0;
  font-weight: 900;
}

h4, h5, h6 {
  font-weight: 600;
}

h1 {
  margin: 0.25rem 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.25;
}

h2 {
  font-size: 1.75rem;
}

h1 + h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
}

.content h3:first-child {
  margin-top: 0;
}

h4 {
  margin: 1.5rem 0 0.125rem 0;
  font-size: 1.125rem;
}

h5 {
  font-size: 1.25rem;
  display: inline;
}

p {
  margin: 0.5rem 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);
  transition: all $fast $ease;
}

a:hover,
a:focus {
  color: $secondary;
  background: transparentize($secondary, 0.9);
  box-shadow: inset 0 0 0 1px transparentize($secondary, 0.95);
  outline: none;
  border-radius: 2px;
}

abbr,
abbr[title] {
  border-bottom: 0;
  text-decoration: none !important;
}

input {
  font-size: inherit;
}

button:active {
  outline: none;
}

b, strong {
  font-weight: 600;
}

::-webkit-selection {
  color: $white;
  background: $secondary;
}

::-moz-selection {
  color: $white;
  background: $secondary;
}

::selection {
  color: $white;
  background: $secondary;
}

figure > img {
  max-width: 100%;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.33em;
  text-align: justify;
}

section.text {
  position: relative;
  overflow: auto;

  figure {
    margin: 0.25em 2em;
    padding: 0;

    figcaption {
      margin-top: 1em;
    }
  }
}

/*
 * -----------------------------------------------------------------------------
 * General styles, i.e. classes
 * -----------------------------------------------------------------------------
 */

.larger {
  font-size: 1.125em;
}

.darker {
  color: $gray-darker;
}

.content-wrapper {
  position: relative;
}

.content-main {
  padding: 0 0 2rem 0;
}

.blue {
  color: $primary;
}

.centered {
  text-align: center;
}

svg.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 0 1rem;
}

.coming-soon {
  height: 8rem;
  color: $gray-medium;
  border: 1px solid $gray-lighter;
  border-radius: 0.25rem;
}

.hidden-anchor {
  position: absolute;
  display: block;
  box-sizing: content-box;
  top: 0;
  left: -1.75rem;
  bottom: 0;
  width: 0.5em;
  padding: 0 1.25rem 0 0.25rem;
  opacity: 0.66;
  transform: scale(0);
  transition: all $fast $ease;
  box-shadow: none !important;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $black;
    background: none;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;
    right: 1rem;
    bottom: 0;
    left: 0;
  }

  > .icon {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
}

h3:hover .hidden-anchor,
h3:target .hidden-anchor {
  transform: scale(1);
}

.hidden-anchor:hover,
h3:target .hidden-anchor {
  opacity: 1;
}

h3:target  {
  color: $blue-dark;
  background: transparentize($primary, 0.9);
  border-radius: 0 0.25rem 0.25rem 0;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -1.75rem;
    width: 1.75rem;
    background: transparentize($primary, 0.9);
  }

  &.underlined:after {
    left: -1.5rem !important;
    background: $primary;
    border-radius: 0 0 0.25rem 0;
  }

  .hidden-anchor {
    color: $white;

    &:after {
      background: $primary;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }
}

h3.anchored {
  transition: all $fast $ease;
}

.note {
  color: $gray-medium;
  font-style: italic;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.medium-spacing li,
ol.medium-spacing li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.large-spacing li,
ol.large-spacing li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.medium-spacing li,
ul.large-spacing li,
ol.medium-spacing li,
ol.large-spacing li {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.smaller {
  font-size: 0.9em;
}

.underlined {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: -1rem;
    right: 0;
    height: 2px;
    background: $gray-lighter;
    transition: left $fast $ease;
  }
}

h1.underlined:hover,
h2.underlined:hover,
h3.underlined:hover,
h4.underlined:hover,
h5.underlined:hover {
  &:after {
    left: -2rem;
  }
}

h3.iconized,
h4.iconized,
h5.iconized {
  position: relative;
  display: block;

  > * {
    display: block;
    float: left
  }

  > .icon {
    height: 100%;
    width: 1em;
    margin-right: 0.25em;

    &.icon-small {
      width: 0.75em;
    }
  }
}

h3.iconized {
  height: 2.25rem;
}

h4.iconized {
  height: 1.5rem;
}

h5.iconized {
  height: 1.25rem;
}

ol.iconized,
ul.iconized {
  position: relative;
  overflow: auto;

  li {
    position: relative;
    overflow: auto;

    > * {
        display: block;
        float: left
    }

    > *:last-child {
        margin-right: 0.5em;
    }

    .icon {
      height: 1.5em;
      width: 1em;
      margin-right: 0.25em;
    }
  }
}

.icon-inline {
  display: inline;
  width: 0.8em;
  height: 0.8em;
  line-height: 1.5em;
}

// Also known as `social-links`. But anything containing `social` will be
// removed by adblockers.
.remix-links {
  font-size: 0.9em;
}

.date {
  display: block;
  font-size: 0.85em;
  color: $gray-medium;
}

.reference {
  .title {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .authors {
    margin-bottom: 0.125rem;
  }

  .authors li:after {
    content: ', ';
  }

  .authors li:nth-last-child(2):after {
    content: ', and ';
  }

  .authors li:last-child:after {
    content: '';
  }

  .badges {
    margin-top: 0.125rem;

    li {
      padding: 0 0.25em;
      font-size: 0.85em;
      text-transform: uppercase;
      border-radius: 0.125rem;
    }
  }

  .preprint {
    color: $gray-dark;
    background: $gray-lighter;
  }

  .secondary-information {
    font-size: 0.9em;
  }

  .number {
    margin-right: 0.5em;
  }
}

.btn {
  display: block;
  padding: 0.25em 0.75em;
  border: 0;
  border-radius: 0.25em;
  color: $white;
  background: $primary;
  box-shadow: none;

  &:hover {
    color: $white;
    background: saturate($primary, 30%);
    box-shadow: none;
  }

  &:active,
  &:focus {
    color: $white;
    border-radius: 0.25em;
    background: darken($primary, 10%);
    box-shadow: none;
  }
}

.journal {
  font-style: italic;
}

.one-liner {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.columns {
  position: relative;
  overflow: auto;

  > * {
    margin-top: 0;
  }
}

.column-1-2 {
  float: left;
  width: 100%;
}

.animation-delay-none,
.animation-delay-000 {
  animation-delay: 0s;
}

.animation-delay-005 {
  animation-delay: 0.05s;
}

.animation-delay-010 {
  animation-delay: 0.1s;
}

.animation-delay-015 {
  animation-delay: 0.15s;
}

.animation-delay-020 {
  animation-delay: 0.2s;
}

.animation-duration-02 {
  animation-duration: 0.2s;
}

.animation-duration-05 {
  animation-duration: 0.5s;
}

.animation-duration-06 {
  animation-duration: 0.6s;
}

.animation-duration-07 {
  animation-duration: 0.7s;
}

.animation-duration-08 {
  animation-duration: 0.8s;
}

/*
 * -----------------------------------------------------------------------------
 * Specific styles, i.e. IDs
 * -----------------------------------------------------------------------------
 */

#logo {
  position: relative;
  width: 100%;
  height: 4.75rem;
  overflow: hidden;

  .content {
    position: relative;
    height: 100%;
  }

  .icon-bunny {
    position: absolute;
    bottom: 1.95rem;
    color: $gray-medium;
    opacity: 0;
    transition: opacity $slow $ease;

    &.found {
      color: $primary;
    }
  }
}

#logo-track {
  position: absolute;
  z-index: 0;
  top: 1rem;
  right: 0;
  bottom: 1.75rem;
  left: 0;
  border-bottom: 1px solid $gray-light;

  svg {
    width: 100%;
    height: 100%;

    rect {
      fill: $gray-light;
      transition: fill $slow $ease;
      transform: scaleY(0);
      transform-origin: center bottom;

      &.animate {
        animation-name: draw;
        animation-timing-function: $ease;
        animation-fill-mode: forwards;
      }
    }

    @keyframes draw {
      to {
        transform: scaleY(1);
      }
    }

    .peak {
      fill: $primary;
    }

    .no-peak {
      fill: $secondary;
    }
  }
}

#logo-magnifier {
  position: absolute;
  z-index: 2;
  top: 0.575rem;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  transition: opacity $normal $ease;
}

#logo-magnifier-pos {
  position: relative;
  top: 0;
  width: 3rem;
  height: 2.75rem;
}

#logo-name {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  padding-left: 3.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 3rem;

  span {
    margin-left: -1rem;
    padding-left: 1rem;
    padding-right: 3rem;
    background: -moz-linear-gradient(left, rgba(255,255,255,0.66) 0%, rgba(255,255,255,0.66) 75%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.66) 0%,rgba(255,255,255,0.66) 75%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.66) 0%,rgba(255,255,255,0.66) 75%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

#logo-tooltip {
  position: absolute;
  display: none;
  z-index: 2;
  bottom: 0;
  right: 0;
  height: 0.85rem;
  font-size: 0.85rem;
  line-height: 0.85rem;
  opacity: 0.5;

  .icon-inline {
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

#fig-teaser {
  @include ratio(2367, 783);

  margin: 1rem 0 2rem;
  background: url(images/teaser.png) no-repeat center center;
  background-size: cover;
}

#authors-list h4 + p {
  margin: -0.25rem 0 0;
}

#footer {
  margin-top: 1rem;
  padding: 2rem 0 0 0;
  font-size: 0.85em;
  color: $gray-medium;
  border-top: 2px solid $gray-lightest;
  background: $white;

  a {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.125);
  }

  a:hover {
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0);
  }

  .vcg-name {
    font-weight: 600;
    text-align: right;
    font-size: 0.675rem;
    line-height: 0.75rem;
    padding-right: 0.2rem;
  }

  .logo-hms,
  .logo-seas,
  .logo-vcg,
  .logo-novartis {
    background-size: cover;
  }

  .logo-hms {
    width: 3em;  /* 4 (w) : 1 (h) */
    height: 3em;
  }

  .logo-seas {
    width: 3em; /* 3.3 (w) : 1 (h) */
    height: 3em;
  }

  .logo-vcg {
    width: 2.75em; /* 3.3 (w) : 1 (h) */
    height: 2.5em;
  }

  .logo-novartis {
    width: 2.75em; /* 3.3 (w) : 1 (h) */
    height: 2.5em;
  }

  #more-at-lekschas-de {
    margin-top: 2rem;
    padding: 0.75rem 0;
    color: $gray-medium;
    background: $gray-lightest;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      color: $secondary;
      background: transparentize($secondary, 0.9);
      box-shadow: none;
    }
  }
}

#video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// #video {
//   @include ratio(3360, 2100);

//   display: block;
//   margin-left: auto;
//   margin-right: auto;

//   iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

/*
 * -----------------------------------------------------------------------------
 * Media Queries
 * -----------------------------------------------------------------------------
 */

/* 480px */
@media screen and (min-width: 30em) {
  .content-main {
    padding: 0.25rem 0 2rem 0;
  }

  .inline-list li {
    display: inline;
  }

  #logo {
    height: 5.25rem;
  }

  #logo-track {
    top: 1.5rem;
  }

  #logo-magnifier {
    top: 1.075rem;
  }

  #logo-name {
    top: 1rem;
  }

  #footer {
    .vcg-name {
      font-weight: 600;
      text-align: right;
      font-size: 0.85rem;
      line-height: 1rem;
      padding-right: 0.2rem;
    }

    .logo-hms,
    .logo-seas,
    .logo-vcg,
    .logo-novartis {
      background-size: cover;
    }

    .logo-hms {
      width: 4em;
      height: 4em;
    }

    .logo-seas {
      width: 4em;
      height: 4em;
    }

    .logo-vcg {
      width: 4em;
      height: 3.5em;
    }

    .logo-novartis {
      width: 4em;
      height: 3.5em;
    }
  }
}

/* 640px */
@media screen and (min-width: 40em) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    text-align: justify;
  }

  .content {
    margin-left: 8.3334%;  /* 1/12 */
    margin-right: 8.3334%;
  }

  .content-main {
    padding: 0.5rem 0 2rem 0;
  }

  .fullscreen {
    margin-left: -10%;  /* 1/6 */
    margin-right: -10%;
  }

  .abstract {
    font-size: 1.125em;
  }

  #logo {
    height: 6.25rem;
  }

  #logo-track {
    top: 2.5rem;
  }

  #logo-magnifier {
    top: 2.075rem;
  }

  #logo-magnifier-pos {
    height: 4.25rem;
  }

  #logo-tooltip {
    display: block;
    height: 1rem;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  #logo-name {
    top: 2rem;
  }

  #video {
    width: 90%;
  }

  #footer {
    .vcg-name {
      font-weight: 600;
      text-align: right;
      font-size: 1rem;
      line-height: 1.125em;
      padding-right: 0;
    }

    .logo-hms,
    .logo-seas,
    .logo-vcg,
    .logo-novartis {
      background-size: cover;
    }

    .logo-hms {
      width: 5.75em;
      height: 5em;
    }

    .logo-seas {
      width: 5.75em;
      height: 5em;
    }

    .logo-vcg {
      width: 5em;
      height: 4.25em;
    }

    .logo-novartis {
      width: 5em;
      height: 4.25em;
    }
  }
}

/* 720px */
@media screen and (min-width: 45em) {
  .content-main {
    padding: 1rem 0 2rem 0;
  }

  h1 {
    font-size: 1.75rem;
  }
}

/* 800px */
@media screen and (min-width: 50em) {
  h1 {
    margin: 0.5rem 0 2rem 0;
    font-size: 1.85rem;
  }
}

/* 880px */
@media screen and (min-width: 55em) {
  h1 {
    margin: 0.5rem 0 2rem 0;
    font-size: 2rem;
  }
}

/* 960px */
@media screen and (min-width: 60em) {
  h1 {
    font-size: 2.25rem;
  }

  .content {
    margin-left: 16.6667%;  /* 1/6 */
    margin-right: 16.6667%;
  }

  .fullscreen {
    margin-left: -25%;  /* 1/6 */
    margin-right: -25%;
  }

  #logo-magnifier-pos {
    left: -3.5rem;
  }

  #logo-name {
    margin-left: -3.5rem;
  }

  #video {
    width: 80%;
  }

  .column-1-2 {
    width: 50%;
  }

  .text .column-1-2:first-child {
    padding-right: 0.5rem;
  }

  .text .column-1-2:last-child {
    padding-left: 0.5rem;
  }
}

/* 1280px */
@media screen and (min-width: 80em) {
  h1 {
    font-size: 2.5rem;
  }

  .content {
    margin-left: 20%;  /* 1/5 */
    margin-right: 20%;
  }

  .fullscreen {
    margin-left: -33.334%;  /* 1/6 */
    margin-right: -33.334%;
  }

  #video {
    width: 70%;
  }

  .text .column-1-2:first-child {
    padding-right: 1rem;
  }

  .text .column-1-2:last-child {
    padding-left: 1rem;
  }
}

/* 1600px */
@media screen and (min-width: 100em) {
  .content {
    max-width: 960px;
    margin-left: auto;  /* 1/5 */
    margin-right: auto;
  }
}
